# {{ ansible_managed }}
[Unit]
Description=Prometheus exporter for the OCI-managed MySQL
Documentation=https://github.com/prometheus/mysqld_exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ mysqld_exporter_user }}
Group={{ mysqld_exporter_user }}
ExecStart={{ mysqld_exporter_bin }} --config.my-cnf={{ mysqld_exporter_config_dir }}/.my.cnf --web.listen-address={{ mysqld_exporter_listen }}
Restart=always
RestartSec=2

NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=strict
ProtectHome=yes
ProtectProc=invisible
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictSUIDSGID=yes
RestrictNamespaces=yes
RestrictRealtime=yes
LockPersonality=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
CapabilityBoundingSet=
AmbientCapabilities=
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
MemoryDenyWriteExecute=yes

[Install]
WantedBy=multi-user.target
